<div class="result-container">
  <h3>あなたにおすすめのサウナ施設</h3>
  <% if @saunas.present? %>
    <% @saunas.each do |sauna| %>
      <div class="sauna-card">
        <h4><%= sauna.name %></h4>
        <% if sauna.description.present? %>
          <p><%= sauna.description %></p>
        <% end %>
        <% if sauna.location.present? %>
          <p>場所：<%= sauna.location %></p>
        <% end %>
        <% if sauna.temperature.present? && sauna.water_temp.present? %>
          <p>サウナ温度：<%= sauna.temperature %>℃ ／ 水風呂：<%= sauna.water_temp %>℃</p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>おすすめサウナ情報が見つかりませんでした。</p>
  <% end %>
</div>

<div class="text-center mt-4">
  <%= link_to 'サウナタイプ結果に戻る', result_diagnoses_path, class: 'btn btn-outline-primary' %>
</div>
